<ion-view class="playerView" view-title="Player" ng-style="{ 'background-color': color }"><ion-content><div class="row row-center"><div class="col col-center text-center"><a class="animated bounceInDown" on-tap="soundPlay()"><i class="icon ion-play"></i></a></div></div></ion-content></ion-view>