.galleryView{
    .item{
        height: calc(100vh - 45px);
        display: flex;
        flex-direction:column;
        justify-content: center;
        
        .icon:before{
            font-size: 90px;
        }
        
        p{
            color: white;
            padding-top: 12px;
        }
    }
    
    .item.ng-enter-stagger {
        animation-delay:200ms;
        animation-duration:0;
    }
    
    @for $i from 1 through 10{
		.animated:nth-child(#{$i}){
			animation-delay: #{$i * 0.25}s;
		}
	}
    
    .bold{
        font-weight: bold;
    }
}