.menu {
    
    ion-header-bar{
        border: none;
        box-shadow: none;
        min-height: 150px;
        color: #fff;
        padding: 0;
        
        .item{
            background-color: #7ea769;
            border: none;
            width: 100%;
            padding: 41px 10px 10px;
            
            h2{
                font-size: 24px;
                font-weight: bold;
                overflow: visible;
                text-overflow: initial;
                white-space: normal;
                text-align: center;
            }
            
            p{
                font-size: 10px;
                color: white;
                text-align: right;
            }
        }
    }
    
    ion-content {
        top: 150px !important;
        background: linear-gradient(10deg, #313131, #1c1c1c, #002F57);
        background-size: 800% 800%;
        animation: background 26s ease infinite;
        
        .item{
            border: none;
            background-color: transparent;
            .item-content{
                background-color: transparent;
                color: white;
            }
        }
        
        .item.active{
            background-color: white !important;
            
            .item-content{
                color: black;
                font-weight: bold;
            }
        }
    }
}

.menu-open {
    .menu {
        ion-header-bar img{
            animation-name: flash;
        }
    }  
}