<ion-view class="accView" view-title="Accelerator"  ng-style="{ 'background-color': color }">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<ul class="animated bounceInDown" >
					<li>Acceleration X: {{acc.x}}</li>
					<li>Acceleration Y: {{acc.y}}</li>
					<li>Acceleration Z: {{acc.z}}</li>
					<!--<li>Timestamp: {{acc.t}}</li>-->
				</ul>
				<ul>
					<li ng-repeat="item in consola" >{{item}}</li>
				</ul>
			</div>
		</div>
	</ion-content>
</ion-view>