<ion-view class="chronoView" view-title="Chronometer"  ng-style="{ 'background-color': color }">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<h1 class="animated bounceInDown">{{currentTime | date:'HH:mm:ss:sss':'+0000'}}</h1>

				<button class="button button-outline button-block button-light animated bounceInUp"  on-tap="toggleTime()">
					{{buttonLabel}}
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>