<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
	<ion-content>
		<div class="row row-center">
			<div class="col col-center text-center">
				<h1 class="animated bounceInDown" on-tap="HelloWorld()">Click me!</h1>

				<button class="button button-outline button-block button-light animated bounceInUp" ui-sref="app.gallery">
					Enter
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>